.code-hljs {
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    width: 1300px;
}

.code-hljs code {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.6rem;
}

.code-hljs .btn--copy {
    position: absolute;
    right: 0;
    top: 40px;
    color: rgba(0%, 0%, 0%, 0.5);
    font-size: 1.1rem;
}