<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Krypton UI | Docs</title>
    <!-- fontawesome cdn-->
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"
        integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://krypton-ui.netlify.app/main.css" />
    <script defer src="https://krypton-ui.netlify.app/script.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/docs.css">

    <!-- highlight js -->

    <link rel="stylesheet" href="../syntax-highlighter/default.min.css">
    <script src="../syntax-highlighter/highlight.min.js"></script>
    <link rel="stylesheet" href="../syntax-highlighter/atelier-cave-light.css" />
    <script defer src="../syntax-highlighter/copyToClipboard.js"></script>

    <script>
        hljs.highlightAll();
    </script>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        $(function () {
            $("#header").load("/shared/header.html");
            $("#footer").load("/shared/footer.html");
        });
    </script>
    <script defer src="/js/docs.js"></script>

</head>

<body>
    <div id="header">
    </div>
    <nav class="side-nav">
        <ul class="list--no-bullets">
            <li class="side-nav__item">
                <a href="/pages/getting-started.html" class="link">Getting Started</a>
            </li>
            <li class="side-nav__item">
                <a href="/pages/theme.html" class="link">Theme</a>
            </li>
            <li class="side-nav__item">
                <a href="/pages/typography.html" class="link">Typography</a>
            </li>
            <li class="side-nav__item side-nav__drop-down">
                <a class="link">Components
                    <span><i class="fas fa-caret-down"></i></span>
                </a>
                <ul class="list--no-bullets show">
                    <li class="side-nav__item">
                        <a class="link" href="/components/alert.html">Alert</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link" href="/components/avatar.html">Avatar</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link" href="/components/badge.html">Badge</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link" href="/components/button.html">Button</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link" href="/components/card.html">Card</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link" href="/components/form.html">Form</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link" href="/components/image.html">Image</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link" href="/components/list.html">List</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link" href="/components/modal.html">Modal</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link" href="/components/navbar.html">Navbar</a>
                    </li>
                    <li class="side-nav__item">
                        <a class="link active" href="/components/toast.html">Toast</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <main class="main main--documentation">
        <div id="side-nav"></div>
        <section class="docs">
            <h1 class="title title--md">Toast</h1>
            <p class="text text--sm">
                The toast component is used to show alerts on top of an overlay and gives feedback to users after an
                action has occured. The toast will close itself when the close button is clicked, or after a timeout —
                the default is 5 seconds.
            </p>

            <article class="comp__usage">
                <h2 class="title title--sm">Toast Usage</h2>
                <div class="comp__preview">
                    <button class="btn btn--primary" id="trigger--toast">Show Toast</button>
                    <div class="toast toast--warning">
                        <div class="toast__layout">
                            <span class="toast__icon fa--sm">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                            <span class="toast__text">
                                <strong>Warning: </strong>This is a warning alert
                            </span>
                            <button class="toast__close btn">
                                <span class="fa--xs">
                                    <i class="fas fa-times"></i>
                                </span>
                            </button>
                        </div>
                    </div>
            </article>
            <pre class="code-hljs">
                    <button class="btn btn--icon btn--sm btn--copy"><i class="fas fa-copy"></i></button>
                    <code class="language-html">
            &lt;div class=&quot;toast toast--warning&quot;&gt;
                &lt;div class=&quot;toast__layout&quot;&gt;
                    &lt;span class=&quot;toast__icon fa--sm&quot;&gt;
                        &lt;i class=&quot;fas fa-exclamation-triangle&quot;&gt;&lt;/i&gt;
                    &lt;/span&gt;
                    &lt;span class=&quot;toast__text&quot;&gt;
                        &lt;strong&gt;Warning: &lt;/strong&gt;This is a warning alert
                    &lt;/span&gt;
                    &lt;button class=&quot;toast__close btn&quot;&gt;
                        &lt;span class=&quot;fa--xs&quot;&gt;
                            &lt;i class=&quot;fas fa-times&quot;&gt;&lt;/i&gt;
                        &lt;/span&gt;                      
                    &lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
                    </code>
                </pre>
        </section>
    </main>
    <div id="footer">
    </div>

</body>

</html>